.login-card {
  width: 20rem;
  margin: auto;
  padding-top: 30px;
}

.mat-card-header {
  justify-content: center;
}

.mat-card-actions {
  text-align: center;
}

.mat-form-field {
  width: 100%;
}

.mat-raised-button {
  display: block !important;
  width: 95% !important;
  height: 50px;
  margin: auto !important;
}
